html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.typedtext{
  color: white;
}

.greenseab {
  color: lightseagreen;
}

.btn-flat {
  background-color: lightseagreen;
  color: white;
}

.btn-danger {
  background-color: rgb(185, 8, 8);
  color: white;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}